{% extends "base.html" %}

{% block content %}
<h1 class = "text-center">รายชื่อโต๊ะ Chicken Cafe</h1>
<a href="{% url 'table_create' %}">เพิ่มโต๊ะ</a><br>
{% for table_item in tables %}
    
        {{ table_item.table_number }}
        {{ table_item.description }}
            <a href="{% url 'table_detail' table_item.pk %}">View</a> |
            <a href="{% url 'table_update' table_item.pk %}">Edit</a> |
            <a href="{% url 'table_delete' table_item.pk %}">Delete</a>
             <br>
{% endfor %}
{% endblock %}
