{% load static %}
<!doctype html>
<html lang="th"> <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Chicken Cafe{% endblock %}</title> 
    
    <link href="{% static 'dist/styles.css' %}" rel="stylesheet">
  </head>
  <body class="bg-blue-300">
    
    {% include "navbar.html" %} 
    
    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% block scripts %}
    {% endblock %}
  </body>
</html>