<nav class="bg-gradient-to-r from-blue-500 to-indigo-600 shadow-lg">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-20">
      
      <!-- Logo -->
      <div class="flex-shrink-0 text-white font-bold text-2xl">
        Chicken Cafe
      </div>

      <!-- Menu -->
      <div class="flex space-x-6">
        <a href="{% url 'table_create' %}"
            class="text-white bg-indigo-500 px-4 py-2 rounded-lg shadow-md 
                  hover:bg-indigo-700 hover:shadow-lg transition">
          ดูรายการโต๊ะ
        </a>
      </div>
      <div class="flex space-x-6">
        <a href="{% url 'table_create' %}"
            class="text-white bg-indigo-500 px-4 py-2 rounded-lg shadow-md 
                  hover:bg-indigo-700 hover:shadow-lg transition">
          รายการอาหาร
        </a>
      </div>
    </div>
  </div>
</nav>
